.input.input-default {
  input.MuiInputBase-input,
  .MuiInputBase-multiline {
    padding: 10px 15px;
    color: var(--input-text-color);
    background-color: var(--input-background-color);
  }

  .MuiInputLabel-root {
    color: var(--input-label-color);
    line-height: 0.9;

    &.Mui-error {
      color: var(--input-error-label-color);
    }
  }

  .MuiFormHelperText-root.Mui-error {
    color: var(--input-error-text-color);
  }

  .MuiOutlinedInput-root {
    &.Mui-error fieldset {
      border-color: var(--input-error-border-color);
    }

    fieldset {
      border-color: var(--input-border-color);
    }
  }

  input {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: var(--input-text-color) !important;
      -webkit-box-shadow: 0 0 0 1000px var(--input-background-color) inset !important;
      transition: background-color 5000s ease-in-out 0s !important;
    }
  }
}