@use '../../styles/vars';

.licenses {
  &__list {
    img {
      height: auto;
      width: 30%;
      margin: 1rem;
      border-radius: 10px;

      @include vars.media-ml {
        width: 45%;
      }

      @include vars.media-sm {
        width: 40%;
      }

      @include vars.media-xs {
        width: 100%;
        margin: 1rem 0;
      }
    }
  }
}