{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "rules": {
    "indent": ["error", 4],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "eol-last": 0
  },
  "extends": [
    "eslint:recommended",
    "standard",
    "standard-react"
  ],
  "env": {
    "jest": true
  }
}
