.language-selector {
  margin-top: 1rem;

  .MuiFormControl-root {
    .MuiInputBase-root {
      & fieldset,
      &:hover fieldset,
      &.Mui-focused fieldset {
        border-color: transparent;
      }
      & .MuiSelect-select {
        color: var(--input-text-color);
        display: flex;
        gap: 0.5rem;
      }
      .MuiSvgIcon-root {
        display: none;
      }
    }
  }
}

#menu- {
  .MuiPaper-root {
    background: var(--body-background);
    color: var(--text-color-white);

    .MuiMenuItem-root img {
      margin-right: 0.5rem;
    }
  }
}
