.language-selector {
  .MuiFormControl-root {
    .MuiInputBase-root {
      & fieldset,
      &:hover fieldset,
      &.Mui-focused fieldset {
        border-color: transparent;
      }
      & .MuiSelect-select {
        color: var(--input-text-color);
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
      }
      .MuiSvgIcon-root {
        display: none;
      }
    }
    .MuiSelect-root {
      min-width: auto;
    }
  }
}

#menu- {
  .MuiPaper-root {
    border: 1px solid transparent;
  }

  .MuiList-root {
    padding: 0;

    .MuiButtonBase-root {
      padding: 0.5rem;
    }
  }
}
