@use '../../styles/vars';

.contacts {
  &-with-image {
    display: flex;
    gap: 1rem;

    @include vars.media-sm {
      display: block;
    }
  }

  &-sipnet {
    display: flex;
    align-items: center;
    gap: 1rem;

    @include vars.media-sm {
      align-items: flex-start;
      flex-direction: column;
    }

    &__image {
      height: auto;
      width: 80px;
    }

    &__phone {
      display: flex;
      align-items: center;
      gap: 1rem;

      &-image {
        height: 30px;
        width: auto;
      }

      &-text {
        font-size: 1.25rem;
      }
    }

    &__warning {
      font-size: 0.625rem;
    }
  }

  .staff-list {
    margin-top: 50px;
  }
}