@import './../../vars';

.services {
  &__content {
    max-width: $size-ml;
    margin: 0 auto;

    &--block {
      max-width: 500px;
      margin-right: auto;

      &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
    }
  }
}