@use '../../styles/vars';

.services__custom-button {
  display: flex;
  justify-content: space-between;
  border: 3px solid var(--custom-button-border);
  border-radius: 16px;
  background-color: var(--custom-button-background);
  color: var(--custom-button-text);
  max-width: 200px;
  min-width: 200px;
  height: 55px;
  padding: 0.625rem;
  transition: background-color .5s;

  @include vars.media-xs {
    max-width: 150px;
    min-width: 150px;
    height: 45px;
  }

  &-icon {
    height: auto;
    width: 70px;

    @include vars.media-xs {
      width: 50px;
    }
  }

  &-text {
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 120px;
    font-size: 0.75rem;

    @include vars.media-xs {
      max-width: 95px;
      font-size: 0.563rem;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: var(--custom-button-background-hover);
  }
}