@use '../../styles/vars';

.calculation {
  &__content {
    &--block.page__content--block {
      max-width: 600px;
      margin-right: auto;

      form {
        margin-top: 0;
      }

      .submit-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;

        .button-default {
          min-width: 40%;

          @include vars.media-sm {
            width: 100%;
          }
        }
      }
    }
  }
}