.backgrounds {
  &::before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -1;
    background: url('../cms/images/background.png') bottom center / cover no-repeat;
  }

  &.background {
    &__home-page {
      &::before {
        background-image: url('../cms/images/page-backgrounds/background__home-page.png');
      }
    }
    &__services-page {
      &::before {
        background-image: url('../cms/images/page-backgrounds/background__services-page.png');
      }
    }
    &__contacts-page {
      &::before {
        background-image: url('../cms/images/page-backgrounds/background__contacts-page.png');
      }
    }
    &__drive-ways-page {
      &::before {
        background-image: url('../cms/images/page-backgrounds/background__drive-ways-page.png');
      }
    }
    &__provision-of-wagons-page {
      &::before {
        background-image: url('../cms/images/page-backgrounds/background__provision-of-wagons-page.png');
      }
    }
    &__payment-railway-tariffs-page {
      &::before {
        background-image: url('../cms/images/page-backgrounds/background__payment-railway-tariffs-page.png');
      }
    }
    &__schema-page {
      &::before {
        background-image: url('../cms/images/page-backgrounds/background__schema-page.png');
      }
    }
    &__calculation-page {
      &::before {
        background-image: url('../cms/images/page-backgrounds/background__calculation-page.png');
      }
    }
  }
}