@use './vars';
@use './backgrounds';
@use './mixins';
@use "sass:color";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--body-color);
  background: var(--body-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;

  &.white-link {
    color: var(--text-color-white);

    &:hover {
      color: var(--text-color-gray);
    }
  }
  &.grey-link {
    color: var(--text-color-gray);

    &:hover {
      color: var(--text-color-white);
    }
  }
  &.orange-link {
    color: var(--text-color-orange);

    &:hover {
      color: color.adjust(#fe5e00, $lightness: 10%);
    }
  }
}

.text-color-gray {
  color: var(--text-color-gray);
}

.text-color-orange,
strong {
  color: var(--text-color-orange);
}

.text-bolt {
  font-weight: bold;
}

.text-header {
  margin-top: 2rem;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(5px);
  animation: fadeInUp 0.2s ease-out forwards;
  animation-delay: 0.1s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.glass-effect {
  @include mixins.glass;
  padding: 1rem;
  border-radius: 20px;
}

table {
  tr:nth-child(odd) {
    background: var(--body-background);
  }

  tr:nth-child(even) {
    background: color.adjust(#383d45, $lightness: 50%);
    color: black;
  }

  th, td {
    border: 1px solid black;
    padding: 0.313rem;
  }
}

#notistack-snackbar {
  @include vars.media-xs {
    max-width: calc(100% - 45px);
  }
}

div[role='presentation'] {
  .MuiPaper-root {
    background: var(--body-background);
    color: var(--text-color-white);
    border: 1px solid var(--input-border-color);
  }
}
