.home {
  &__content {
    &--block.page__content--block {
      max-width: 500px;
      margin-right: auto;
    }

    &--buttons {
      .button-services {
        margin-right: 1rem;
      }
    }
  }
}