@import '../../common.scss';

.style-guide {
  max-width: 768px;
  margin: 0 auto;

  &__block {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid black;
    border-radius: 10px;
    background: #00bcd4;

    &-title {
      margin-bottom: 0.938rem;
      font-weight: bold;
    }

    &-content {
      display: flex;
      flex-direction: column;
    }

    table {
      width: 100%;

      td, th {
        width: 50%;
        text-align: left;
        border: 1px solid black;
        padding: 0.313rem;
      }
    }
  }
}