@import './../../vars';

.provision-of-wagons {
  &__content {
    max-width: $size-ml;
    margin: 0 auto;

    &--block {
      max-width: 1024px;
      margin-right: auto;
    }

    &--list {
      display: flex;
    }
  }

  &__list1 {
    margin-right: 2rem;
  }
}