.wagons-description {
  &__description-block {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  &__table-block {
    table {
      width: 100%;
    }
    caption {
      font-weight: bold;
      margin: 1rem 0;
    }
  }
}