@use '../../styles/vars';

.wagons-description {
  &__description-block {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    @include vars.media-sm {
      flex-direction: column;
      align-items: center;

      &--img {
        width: 100%;
        max-width: 300px;
      }
    }
  }

  &__table-block {
    table {
      width: 100%;
    }
    caption {
      margin: 1rem 0;
    }
  }
}