@import './../../vars';

.header {
  position: sticky;
  top: 0;
  padding: 0.938rem 1rem;

  @supports (backdrop-filter: blur(1px)) or (-webkit-backdrop-filter: blur(1px)) {
    & {
      background: color-mix(in srgb, var(--body-background) 85%, transparent);
      -webkit-backdrop-filter: saturate(180%) blur(16px);
      backdrop-filter: saturate(180%) blur(16px);
      transition: background-color 320ms ease;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.813rem;
    max-width: $size-ml;
    margin: 0 auto;
  }

  &__logo {
    display: flex;
    align-items: center;

    &-img {
      width: 200px;
    }
  }

  &__navigation {
    a {
      margin: 1rem;
    }
  }
}