.yandex-map {
  &__content {
    position: relative;
    overflow: hidden;
    margin-top: 1rem;

    &--link-1 {
      color: black;
      font-size: 12px;
      position: absolute;
      top: 10px;
      left: 10px;
    }

    &--link-2 {
      color: black;
      font-size: 12px;
      position: absolute;
      top: 30px;
      left: 10px;
    }

    &--iframe {
      position: relative;
      width: 100%;
    }
  }
}