@import './../../vars';

.drive-ways {
  &__content {
    max-width: $size-ml;
    margin: 0 auto;

    &--block {
      max-width: 1024px;
      margin-right: auto;

      .text-header {
        margin-top: 2rem;
        margin-bottom: 0;
      }
    }
  }
}