.footer {
  padding: 1.25rem 1rem 12.5rem;

  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
  }

  p {
    color: var(--text-color-gray);
    margin: 0;
  }

  &__block {
    text-align: left;
    max-width: 25%;

    &-header {
      color: var(--text-color-orange);
    }
  }

  &_navigation {
    display: flex;
    flex-direction: column;
  }
}