@use '../../styles/vars';
@use '../../styles/mixins';

.page {
  &__content {
    max-width: vars.$size-ml;
    margin: 0 auto;

    &--block {
      max-width: vars.$size-ml;
      margin-right: auto;
    }
  }
}