@mixin glass {
  @supports (backdrop-filter: blur(1px)) or (-webkit-backdrop-filter: blur(1px)) {
    & {
      background: color-mix(in srgb, var(--body-background) 5%, transparent);
      -webkit-backdrop-filter: saturate(180%) blur(2px);
      backdrop-filter: saturate(180%) blur(2px);
      transition: background-color 320ms ease;
    }
  }
}