:root {
  --body-background: #383d45;
  --body-color: #fff;

  --buttom-primary-color: var(--body-color);
  --buttom-primary-background: var(--body-background);
  --buttom-primary-background-hover: #434953;
  --buttom-primary-border: black;

  --text-color-white: #fff;
  --text-color-gray: #c2c3c6;
  --text-color-orange: #b0511b;
}