:root {
  --body-background: #383d45;
  --body-color: #fff;

  --buttom-primary-color: var(--body-color);
  --buttom-primary-background: var(--body-background);
  --buttom-primary-background-hover: #434953;
  --buttom-primary-border: black;

  --text-color-white: #fff;
  --text-color-gray: #c2c3c6;
  --text-color-orange: #b0511b;
}

$size-xl: 1920px;
$size-lg: 1440px;
$size-ml: 1280px;
$size-md: 1024px;
$size-sm: 767px;
$size-xs: 480px;