@use '../../styles/vars';

.hamburger-menu {}

#menu {
  .MuiPaper-root {
    width: 80%;
    max-width: vars.$size-xs;
    border: 1px solid transparent;

    @include vars.media-xs {
      left: 0 !important;
      width: 100%;
    }
  }
}